include ./header.jade
link(rel='stylesheet' href='../css/board.css')
script(src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js")
link(rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css")
div(id="contents" class="wrap")            
    #side.NG.clearfix 
            .side_title 
                span 게시판
            .side_menu 
                ul 
                    li 
                        a(href="#") 공지사항 
                    hr#sideline
                    li 
                        a(href="#") 민원게시판
                    hr#sideline
                    li 
                        a(href="/regi") 요청게시판
                    hr#sideline
                    li 
                        a(href="/regi") FAQ
        #tCon
            #maincontent
                h3 민원/처리
                hr#sideline
            .card-body
                .aa 
                    table.general_board(class="table" cellspacing="0")
                        colgroup 
                            col(style="width:25%")
                            col(style="width:75%")
                        thead 
                            tr 
                                th.topview(scope="col" colspan="2")

                        tbody 
                                //form#frm(action="/minboard_writepost" method="post")
                                tr 
                                    th.view(scope="row") 제목
                                    td.left
                                        input#title(type="text" name='title')
                                tr 
                                    th.view(scope="row") 작성자
                                    td.left
                                        a#writer_show(name='writer')=name
                                        input#writer(type="text" name="writer" style="display:none" value=name)
                                        input#mem_id(type="text" name="mem_id" style="display:none" value=id)
                                tr 
                                    th.view(scope="row") 구분
                                    td.left: select#select.justselect(name='select')
                                        option(value='소음') 소음
                                        option(value='배수') 배수
                                        option(value='불법') 불법
                                        option(value='상인') 상인
                                        
                                        option(value='기타') 기타
                                
                                tr 
                                    td.view_contents(colspan="2")
                                        //textarea#editor(name="content", cols="30", rows="10") 
                                        div#editor
                                        div#contents
                    input#upload(type="button" value='작성')
                    //a#upload(href="#") ㅂㅂ 
                    input#back(type="button" value='취소')
include ./footer.jade
    script.
        const Editor = toastui.Editor;
        $(document).ready(function () {
            
            	
 
                const editor = new Editor({
                    el: document.querySelector('#editor'),
                    height: '600px',
                    initialEditType: 'wysiwyg',
                    previewStyle: 'tab'
                });

                $("#upload").click(function(){
                
                    var contents = editor.getMarkdown();
                    var title = $("#title").val();
                    var writer = $("#writer").val();
                    var select = $("#select").val();
                    var id = $("#mem_id").val();

                    $.ajax({
                            type : "POST",
                            url : "/minboard_writepost",
                            data : {contents:contents, title:title, writer:writer, select:select, id:id},
                            dataType : "json",
                            async : true,
                            cashe : false,
                            success : function(data){
                                alert("작성 완료.");
                                href="/minboard"
                                location.href =href;
                            },
                            error:function(err){
                                alert('작성 실패.')
                            } 
                    })
              
            })
        });

        $("#back").click(function(){
               href="/minboard"
                location.href =href;
        })

        