include ./header.jade
link(rel='stylesheet' href='../css/board.css')

div(id="contents" class="wrap")            
    #side.NG.clearfix 
            .side_title 
                span 관리자
            .side_menu 
                ul 
                    li 
                        a(href="#") 회원관리
                    hr#sideline
                    li 
                        a(href="/root") 민원처리
                    hr#sideline
                    li 
                        a(href="#") FAQ관리
                    hr#sideline
                    li 
                        a(href="/root/chart1") 민원 현황
                    hr#sideline
                    li 
                        a(href="/root/calender") 일정관리
        #tCon
            #maincontent
                h3 민원/처리
                hr#sideline
            .card-body
                div(class="aa")
                    a(style="margin-right: 10px;") 구분
                        select(id="mb_sub_cate" name="mb_sub_cate" class="ui_select" style="margin-right: 10px;")
                            option(value='전체') 전체
                            option(value='소음') 소음
                            option(value='배수') 배수
                            option(value='상인') 상인
                            option(value='불법') 불법
                            option(value='기타') 기타
                        input(type="text" id="min_date" name="min_date" size="15" readonly="readonly" style="margin-right: 10px;")
                        span ~
                        input(type="text" id="max_date" name="max_date" size="15" readonly="readonly" style="margin-right: 10px; margin-left: 5px;")
                    button(onclick='select()') 조회
                    br
                    br
                    div(id="grid1")
                    br
                    h5 처리
                    button(id = "btn_add")
                        span 추가
                    button(onclick='save_complaint()' id = "btn_save")
                        span 저장
                    button(onclick='delete_complaint()' id = "btn_delete")
                        span 삭제
                    div(id="grid2" style="margin-bottom: 10px;")
                    table.general_board(class="table" cellspacing="0")
                        colgroup 
                            col(style="width:25%;")
                            col(style="width:75%;")
                        tbody 
                            tr 
                                th.view(scope="row") 제목
                                td.left#mb_title
                            tr 
                                td.view_contents(colspan="2")
                                    div#viewer
                                    input#contents(type="text" style="display:none;" value="")

include ./footer.jade
                script.
                    var gridData1 =new Array();
                    var gridData2 =new Array();
                    var grid1;
                    var grid2;
                    
                    $(document).ready(function () {

                        tui.Grid.applyTheme('striped');
                        createGrid1();
                        createGrid2();

                        grid1.on('click', function(e){
                            
                            var rowKey = e.rowKey;
                            var idx=grid1.getIndexOfRow(rowKey);
                            var columnName = e.columnName;

                            var sendType = "POST";
                            var sendUrl = "/root/min_boardClick";
                            
                            var mb_no = grid1.getValue(rowKey,"mb_no");
                            if(mb_no !=""){
                                $.ajax({
                                    type : sendType,
                                    url : sendUrl,
                                    data : {"mb_no"  : mb_no},
                                    dataType : "json",
                                    async : true,
                                    cashe : false,
                                    success : function(data, status, jqXHR){
                                        $("#mb_title").text(data.data.mb_title)
                                        $("#viewer").html(data.data.mb_content)

                                        var content = $("#viewer").html()
                                        const viewer = toastui.Editor.factory({
                                            el: document.querySelector('#viewer'),
                                            viewer: true,
                                            height: '500px',
                                            initialValue: content
                                        });

                                        gridData2=data.data2;
                                        grid2.clear();
                                        grid2.refreshLayout();
                                        grid2.resetData(gridData2);
                                    }
                                })
                            }
                        })

                        $('#btn_add').click(function(){
                            grid2.appendRow([],{"at":0});
                        });
                        
                        
                        $("#min_date").datepicker({
                            defaultDate : new Date(),
                            dateFormat: 'yy-mm-dd',
                            showOtherMonths: true,
                            showOn : "focus", 
                            showAnim : "show",
                            duration : 200
                        });
                        $("#min_date").datepicker('setDate', '-7D');

                        $("#max_date").datepicker({
                            defaultDate : new Date(),
                            dateFormat: 'yy-mm-dd',
                            showOtherMonths: true,
                            showOn : "focus", 
                            showAnim : "show",
                            duration : 200
                        });
                        $("#max_date").datepicker('setDate', 'today');
                        
                    });

                    function createGrid1(){
                        grid1 = new tui.Grid({
                            el: document.getElementById('grid1'),
                            data: gridData1,
                            scrollX: false,
                            scrollY: true,
                            rowHeight : 25,
                            minRowHeight : 25,
                            bodyHeight : 250,
                            header: { height: 60,
                            complexColumns:[
                                {header: '처리구분', name:'gubun', childNames:['mb_cate','mb_sub_cate']}
                            ]},
                            columns: [
                                { header: 'NO',	name: "mb_no",		width: '20',	minWidth: '20',	align: 'center'  },
                                { header: '처리구분',	name: "b_status",	width: '50',	minWidth: '50',	align: 'center', sortingType: 'asc', sortable: true, filter: 'select' },	
                                { header: '제목',	name: "mb_title",	width: '150',	minWidth: '150',	align: 'left' },	
                                { header: '작성자',	name: "mb_writer",	width: '80',	minWidth: '80',	align: 'left' },	
                                { header: '게시판',	name: "mb_cate",	width: '50',	minWidth: '50',	align: 'left' },	
                                { header: '구분',	name: "mb_sub_cate",	width: '50',	minWidth: '50',	align: 'left', filter: 'select' },	
                                { header: '날짜',	name: "mb_date",	width: '100',	minWidth: '100',	align: 'left' },	
                                { header: '조회수',	name: "b_inquiry",	width: '20',	minWidth: '20',	align: 'right', hidden:true}	
                            ]
                        });
                    }

                    function createGrid2(){
                        grid2 = new tui.Grid({
                            el: document.getElementById('grid2'),
                            data: gridData2,
                            scrollX: false,
                            scrollY: true,
                            rowHeight : 25,
                            minRowHeight : 25,
                            bodyHeight : 150,
                            header: { height: 25 },
                            columns: [
                                { header: '답변 제목',	name: "complaints_title",	width: '80',	minWidth: '80',	align: 'center', editor: 'text' },	
                                { header: '처리 예상일',	name: "complaints_complete",	width: '80',	minWidth: '80',	align: 'center' ,	editor: {type: 'datePicker', format: 'yyyy-MM-dd'},
                                    formatter({value}) { // 추가
                                        var temp_value=value;
                                        if(temp_value){
                                            if(temp_value.indexOf("-")==-1){
                                                var retrun_value=temp_value.substr(0,4)+"-"+temp_value.substr(4,2)+"-"+temp_value.substr(6,2)+temp_value.substr(8,3);

                                                return retrun_value;
                                            }
                                            else{
                                                return temp_value;
                                            }
                                        }
                                        else{
                                            return temp_value;
                                        }
                                    } 
                                },
                                { header: '답변 내용',	name: "complaints_content",	width: '250',	minWidth: '250',	align: 'left', editor: 'text' }, 
                                { header: '등록일',	name: "date",	width: '50',	minWidth: '50',	align: 'center'},
                                { header: '답변 내용',	name: "min_Cno",	hidden: true},
                                { header: '답변 내용',	name: "mb_no",	hidden: true},		
                            ]
                                
                        });
                    }

                    function select(){
                        var mb_sub_cate = $("#mb_sub_cate").val();
                        var min_date = $("#min_date").val();
                        var max_date = $("#max_date").val();

                        $.ajax({
                            type : "POST",
                            url : "/root",
                            data : {mb_sub_cate : mb_sub_cate, min_date: min_date, max_date:max_date},
                            dataType : "json",
                            async : true,
                            cashe : false,
                            success : function(data){
                                if(data.records > 0){
                                $("#mb_title").text(data.data.mb_title)

                                gridData1=data.data;
                                grid1.clear();
                                grid1.refreshLayout();
                                grid1.resetData(gridData1);

                                }
                                else{
                                    alert('조회된 데이터가 없습니다.')
                                }
                            },
                            error : function(jqXHR) {
                                alert("처리중 오류");
                            }
                        })
                    }

                    function save_complaint(){
                        grid2.finishEditing(grid2.getFocusedCell());

                        var mb_sub_cate = $("#mb_sub_cate").val();
                        var min_date = $("#min_date").val();
                        var max_date = $("#max_date").val();

                        var temp=grid2.getModifiedRows();

                        var c_rownum=temp.createdRows.length;
                        var u_rownum=temp.updatedRows.length;
                        
                        var mb_no = grid1.getFocusedCell().rowKey;
                        mb_no = grid1.getValue(mb_no,"mb_no");

                        var sendType = "POST";
                        var sendUrl = "/root/insert_minComplaints";
                        
                        var createdRows = temp.createdRows
                        //var jsonData = JSON.stringify(createdRows);
                        $.ajax({
                            type : sendType,
                            url : sendUrl,
                            data : { "updatedRows":temp.updatedRows, "createdRows": createdRows, "mb_no": mb_no, "c_rownum": c_rownum, "u_rownum": u_rownum, mb_sub_cate : mb_sub_cate, min_date: min_date, max_date:max_date},
                            dataType : "JSON",
                            async : true,
                            cashe : false,
                            success : function(data, jqXHR){
                                gridData1=data.data;
                                grid1.clear();
                                grid1.refreshLayout();
                                grid1.resetData(gridData1);

                                gridData2=data.data2;
                                grid2.clear();
                                grid2.refreshLayout();
                                grid2.resetData(gridData2);
                                alert("저장되었습니다");
                            },
                            error : function(jqXHR) {
                                    alert("처리중 오류");
                            }
                        })
                    }

                    function delete_complaint(){
                        
                        var mb_no = grid2.getFocusedCell().rowKey;
                        mb_no = grid2.getValue(mb_no,"mb_no");

                        var min_Cno = grid2.getFocusedCell().rowKey;
                        min_Cno = grid2.getValue(min_Cno,"min_Cno");

                        var sendType = "POST";
                        var sendUrl = "/root/delete_minComplaints";

                        $.ajax({
                            type : sendType,
                            url : sendUrl,
                            data : {"mb_no":mb_no, "min_Cno":min_Cno},
                            dataType : "JSON",
                            async : true,
                            cashe : false,
                            success : function(data, jqXHR){
                                gridData2=data.data;
                                grid2.clear();
                                grid2.refreshLayout();
                                grid2.resetData(gridData2);
                                alert("삭제되었습니다.");
                            },
                            error : function(jqXHR) {
                                    alert("처리중 오류");
                            }
                        })
                    }
                